<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zalo-login"
        version="1.1.2">
    <name>Zalo Login</name>
    <description>
        This is pcv plugin for Zalo in Cordova!
    </description>
    <preference name="ZALO_APP_ID"/>
    <engines>
        <engine name="cordova-android" version=">=7.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>
    <!-- android -->
    <platform name="android">
        <js-module src="www/zalo.js" name="ZaloLoginPlugin">
            <clobbers target="zaloLoginPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZaloLoginPlugin">
                <param name="android-package" value="com.pcv.zalo.ZaloLoginPlugin" />
                <!-- <param name="onload" value="true" /> -->
            </feature>
            <preference name="android-minSdkVersion" value="18" />
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="appID">$ZALO_APP_ID</string>
        </config-file> 

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.zing.zalo.zalosdk.appID" android:value="@string/appID"/>
            
            <activity android:name="com.zing.zalo.zalosdk.oauth.BrowserLoginActivity">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="zalo-$ZALO_APP_ID" />
                </intent-filter>
            </activity>
        </config-file>

        <!-- <edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:name="com.zing.zalo.zalosdk.oauth.ZaloSDKApplication" />
        </edit-config> -->

        <framework src="me.zalo:sdk-core:+" />
        <framework src="me.zalo:sdk-auth:+" />
        <framework src="me.zalo:sdk-openapi:+" />
        <source-file src="src/android/ZaloLoginPlugin.java" target-dir="src/com/pcv/zalo" />
        <resource-file src="proguard-zalo.txt" target="proguard-zalo.txt"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/zalo.js" name="ZaloLoginPlugin">
            <clobbers target="zaloLoginPlugin" />
            <param name="onload" value="true" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ZaloLoginPlugin">
                <param name="ios-package" value="ZaloLoginPlugin" />
            </feature>
            <plugin name="ZaloLoginPlugin" value="ZaloLoginPlugin"/>
        </config-file>

        <!-- <header-file src="src/ios/ZaloLoginPlugin.h" />
        <source-file src="src/ios/ZaloLoginPlugin.m" /> -->
        <source-file src="src/ios/ZaloLoginPlugin.swift" />

        <config-file target="*-Info.plist" parent="appID">
            <string>$ZALO_APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>zalo</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>zalo-$ZALO_APP_ID</string>
                    </array>
                </dict>
            </array>
            
        </config-file>
        
        <podspec>
            <pods use-frameworks="true">
                <pod name="ZaloSDK" git="https://github.com/VNG-Zalo/ZaloSDK-iOS.git"/>
            </pods>
        </podspec>
    </platform>

    <!-- after_prepare hook to populate APP_ID -->
    <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>